.header {
    width: 1440px;
    min-height: 64px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px;
    background-color: var(--color-beige);
    z-index: 1;
}