.news__title {
    max-width: 35.6rem;
    font-family: 'Neue_Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.01em;
    margin: 0;
    padding: 1.25rem 0 1.8rem 3.5rem;
}