.sites__title {
    font-family: 'Neue_Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 60px;
    letter-spacing: -0.01em;
    margin: 0;
    padding: 4rem 0 0 3.8rem;
}