.video-archive__title {
    max-width: 54.1rem;
    font-family: 'Neue_Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 60px;
    letter-spacing: -0.01em;
    padding: 4rem 0 0 9.3rem;
    margin: 0;
}