.footer__string {
    width: max-content;
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: var(--link-text-color);
    padding: 0;
    margin: 0;
}