.news__subtitle {
    max-width: 24rem;
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    margin: 0;
    padding: 1.9rem 0 0 9.3rem;
}