/*normalize*/
@import url(../vendor/normalize.css);
/*font-face*/
@import url(../vendor/fonts/font-face.css);

/*page*/
@import url(../blocks/page/page.css);

/*logo*/
@import url(../blocks/logo/logo.css);

/*header-wrapper*/
/*@import url(../blocks/header-wrapper/header-wrapper.css);*/

/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__link-wapper/header__link-wapper.css);
@import url(../blocks/header/__support-link/header__support-link.css);


/*title-poster*/

@import url(../blocks/title-poster/title-poster.css);
@import url(../blocks/title-poster/__title/title-poster__title.css);
@import url(../blocks/link/link.css);
@import url(../blocks/title-poster/__subtitle/title-poster__subtitle.css);

/*content*/

@import url(../blocks/content/content.css);
@import url(../blocks/content/__event/content__event.css);
@import url(../blocks/content/__time-box/content__time-box.css);
@import url(../blocks/content/__day/content__day.css);
@import url(../blocks/content/__time/content__time.css);
@import url(../blocks/content/__title/content__title.css);
@import url(../blocks/content/__subtitle-box/content__subtitle-box.css);
@import url(../blocks/content/__subtitle/content__subtitle.css);
@import url(../blocks/content/__footnote-box/content__footnote-box.css);
@import url(../blocks/content/__link/content__link.css);
@import url(../blocks/content/__event/content__event_picture.css);
@import url(../blocks/content/__picture/content__picture.css);
@import url(../blocks/content/__links/content__links.css);
@import url(../blocks/content/__line/content__line.css);

/*news*/

@import url(../blocks/news/news.css);
@import url(../blocks/news/__title-wrapper/news__title-wrapper.css);
@import url(../blocks/news/__title/news__title.css);
@import url(../blocks/news/__content/news__content.css);
@import url(../blocks/news/__text-wrapper/news__text-wrapper.css);
@import url(../blocks/news/__subtitle/news__subtitle.css);
@import url(../blocks/news/__link/news__link\ .css);
@import url(../blocks/news/__picture/news__picture.css);

/*sites*/

@import url(../blocks/sites/sites.css);
@import url(../blocks/sites/__title/sites__title.css);
@import url(../blocks/sites/__content-wrapper/sites__content-wrapper.css);
@import url(../blocks/sites/__block/sites__block.css);
@import url(../blocks/sites/__label/sites__label.css);
@import url(../blocks/sites/__block-title/sites__block-title.css);
@import url(../blocks/sites/_block-subtitle/sites__block-subtitle.css);
@import url(../blocks/sites/__address-link/sites__address-link.css);

/*video-archive*/

@import url(../blocks/video-archive/video-archive.css);
@import url(../blocks/video-archive/__title/video-archive__title.css);
@import url(../blocks/video-archive/__link/video-archive-title__link.css);
@import url(../blocks/video-archive/__subtitle/video-archive__subtitle.css);
@import url(../blocks/video-archive/__picture/video-archive__picture.css);

/*festival-partners*/

@import url(../blocks/festival-partners/festival-partners.css);
@import url(../blocks/festival-partners/__tetle/festival-partners__tetle.css);
@import url(../blocks/festival-partners/__box/festival-partners__box.css);
@import url(../blocks/festival-partners/__picture-wrapper/festival-partners__picture-wrapper.css);
@import url(../blocks/festival-partners/__picture/festival-partners__picture.css);
@import url(../blocks/festival-partners/__picture-description/festival-partners__picture-description.css);

/*footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__content/footer__content.css);
@import url(../blocks/footer/__picture/footer__picture.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__wrapper-column-links/footer__wrapper-column-links.css);
@import url(../blocks/footer/__column-links-cell/footer__column-links-cell.css);
@import url(../blocks/footer/__column-links/footer__column-links.css);
@import url(../blocks/footer/__string/footer__string.css);
@import url(../blocks/footer/__box-signature/footer__box-signature.css);
@import url(../blocks/footer/__signature/footer__signature.css);

/*blog-block*/
@import url(../blocks/blog-block/__blog-preview-figure/blog-block__blog-preview-figure.css);
@import url(../blocks/blog-block/__blog-preview-picture-description/blog-block__blog-preview-picture-description.css);
@import url(../blocks/blog-block/__blog-preview-picture/blog-block__blog-preview-picture.css);
@import url(../blocks/blog-block/__blog-preview-subtitle/blog-block__blog-preview-subtitle.css);
@import url(../blocks/blog-block/__blog-preview-title/blog-block__blog-preview-title.css);
@import url(../blocks/blog-block/__blog-preview/blog-block__blog-preview.css);
@import url(../blocks/blog-block/__heading/blog-block__heading.css);
@import url(../blocks/blog-block/__link/blog-block__link.css);
@import url(../blocks/blog-block/__title/blog-block__title.css);
@import url(../blocks/blog-block/blog-block.css);

.body {
    width: 1440px;
    margin: auto;
    background-color: var(--color-background);
    display: grid;
    grid-template-columns: 1px 1fr 1px;
    justify-content: center;
    flex-direction: row-reverse;
    --color-green: #B7C09D;
    --color-beige: #ECEBE8;
    --color-white: white;
    --color-background: #E5E5E5;
    --link-text-color: #242424;
}

.blog-block-mask {
    position: relative;
    background-color: var(--color-background);
    width: 230px;
    z-index: 3;
    left: 1441px;
    

}

.blog-block-road {
    position: relative;
    /* background-color: #E5E5E5; */
    width: 1px;
    z-index: 2;
   
    

    
}

.main {
    width: 100%;
    position: relative;
    background-color: var(--color-beige);
    display: grid;
    grid-template-columns: 1fr 380px;
    grid-template-rows: repeat(6, max-content);
    grid-template-areas:
        "title-poster-ar bb-ar"
        "content-ar bb-ar"
        "news-ar news-ar"
        "sites-ar sites-ar"
        "video-archive-ar video-archive-ar"
        "festival-partners-ar festival-partners-ar"
    ;

}