.header__link-wapper {
    display: flex;
    align-items: center;
    padding: 18px 0;
}

.header__link-wapper:nth-child(9) {
    border-left: solid 1px;
    padding-left: 32px;
}

.header__link-wapper:nth-child(13) {
    border-right: solid 1px;
    padding-right: 32px;
}